In [43]:
import pandas as pd
import numpy as np

In [9]:
data = pd.read_csv('house-votes-84.csv.bz2',header=None)

In [10]:
data.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16], dtype='int64')

In [11]:
data.head()

           0  1  2  3  4  5  6  7  8  9  10 11 12 13 14 15 16
0  republican  n  y  n  y  y  y  n  n  n  y  ?  y  y  y  n  y
1  republican  n  y  n  y  y  y  n  n  n  n  n  y  y  y  n  ?
2    democrat  ?  y  y  ?  y  y  n  n  n  n  y  n  y  y  n  n
3    democrat  n  y  y  n  ?  y  n  n  n  n  y  n  y  n  n  y
4    democrat  y  y  y  n  y  y  n  n  n  n  y  ?  y  y  y  y

In [24]:
data.shape

(435, 17)

In [20]:
a={}
for i in range(0,17):
    a[i] = data[i].value_counts()

In [22]:
summary = pd.DataFrame(a)

In [23]:
summary

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
?,NaN,12.0,48.0,11.0,11.0,15.0,11.0,14.0,15.0,22.0,7.0,21.0,31.0,25.0,17.0,28.0,104.0
democrat,267.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
n,NaN,236.0,192.0,171.0,247.0,208.0,152.0,182.0,178.0,206.0,212.0,264.0,233.0,201.0,170.0,233.0,62.0
republican,168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
y,NaN,187.0,195.0,253.0,177.0,212.0,272.0,239.0,242.0,207.0,216.0,150.0,171.0,209.0,248.0,174.0,269.0

In [26]:
democrats = 267/435 * 100
democrats

61.37931034482759

In [27]:
republicans = 168/435 * 100
republicans

38.62068965517241

In [29]:
summary[1]

?              12.0
democrat        NaN
n             236.0
republican      NaN
y             187.0
Name: 1, dtype: float64

In [30]:
Yes_for_1 = data[data[1]=='y']
No_for_1 = data[data[1]=='n']

In [34]:
Yes_for_1.shape

(187, 17)

In [35]:
No_for_1.shape

(236, 17)

In [37]:
Yes_for_1.groupby([0]).count()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,,,,,,,,,,,,,,,,
democrat,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156
republican,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31

In [68]:
Yes_for_1[0].value_counts().to_frame().reset_index()[0].iloc[1]

31

In [46]:
Yes_for_1_democrats = 156/187
print('Yes_for_1_democrats',Yes_for_1_democrats)
Yes_for_1_republicans = 31/187
print('Yes_for_1_republicans',Yes_for_1_republicans)

Yes_for_1_democrats 0.8342245989304813
Yes_for_1_republicans 0.1657754010695187

In [38]:
No_for_1.groupby([0]).count()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,,,,,,,,,,,,,,,,
democrat,102,102,102,102,102,102,102,102,102,102,102,102,102,102,102,102
republican,134,134,134,134,134,134,134,134,134,134,134,134,134,134,134,134

In [47]:
No_for_1_democrats = 102/236
print('No_for_1_democrats',No_for_1_democrats)
No_for_1_republicans = 134/236
print('No_for_1_republicans',No_for_1_republicans)

No_for_1_democrats 0.4322033898305085
No_for_1_republicans 0.5677966101694916

In [48]:
Yes_for_1_entropy = -(Yes_for_1_democrats*np.log2(Yes_for_1_democrats) + Yes_for_1_republicans*np.log2(Yes_for_1_republicans))

In [49]:
Yes_for_1_entropy

0.647948835478525

In [50]:
No_for_1_entropy = -(No_for_1_democrats*np.log2(No_for_1_democrats) + No_for_1_republicans*np.log2(No_for_1_republicans))

In [51]:
No_for_1_entropy

0.9866967086735614

In [52]:
summary[1]

?              12.0
democrat        NaN
n             236.0
republican      NaN
y             187.0
Name: 1, dtype: float64

In [81]:
data.shape[0] - data[data[1]=='?'].shape[0]

423

In [84]:
def entropy(data):
    dictionary = {}
    for i in range(1,17):
        Yes = data[data[i]=='y']
        No = data[data[i]=='n']
        
        Number_of_yes = Yes.shape[0]
        Number_of_no = No.shape[0]
        
        Yes_democrats = (Yes[0].value_counts().to_frame().reset_index()[0].iloc[0])/Number_of_yes
        Yes_republicans = (Yes[0].value_counts().to_frame().reset_index()[0].iloc[1])/Number_of_yes
        
        No_democrats = (No[0].value_counts().to_frame().reset_index()[0].iloc[0])/Number_of_no
        No_republicans = (No[0].value_counts().to_frame().reset_index()[0].iloc[1])/Number_of_no
        
        Yes_entropy = -(Yes_democrats*np.log2(Yes_democrats) + Yes_republicans*np.log2(Yes_republicans))
        No_entropy = -(No_democrats*np.log2(No_democrats) + No_republicans*np.log2(No_republicans))
        
        
        Final_entropy = (Yes_entropy*Number_of_yes + No_entropy*Number_of_no)/(data.shape[0] - data[data[i]=='?'].shape[0])
        dictionary[i] = Final_entropy
    return dictionary

In [89]:
result = entropy(data)

In [90]:
result

{1: 0.8369429207599165,
 2: 0.9597246290117215,
 3: 0.5192054019756008,
 4: 0.20611069684434918,
 5: 0.5333550427760921,
 6: 0.8184728944688933,
 7: 0.7572889383940947,
 8: 0.6144195668030937,
 9: 0.6558589844994812,
 10: 0.9567682067352358,
 11: 0.8484111687456118,
 12: 0.5578936512136129,
 13: 0.7200897306908763,
 14: 0.6127739303645243,
 15: 0.7251662719007257,
 16: 0.8967495583804945}

4th feature has the minimum entropy